.underline {
  cursor: pointer;
  &::after {
    content: "";
    display: block;
    width: 0%;
    margin: auto;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: width 0.5s ease-out;
  }
  &:hover::after {
    width: 100%;
  }
}
